* {
  box-sizing: border-box;
  text-align: center;
}


body {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background-image: url("../images/concrete_seamless.png");
}
a: link {
  text-decoration: none;
  color: #777;
}
header {
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
  border-style: none none solid none;
  border-bottom-color: #cccccc;
  font-family: 'Arial';
  font-size: 18px;
  color: #777777;
}
aside {
  float: left;
  width: 225px;
  margin-left: 50px;
  padding: 15px 26px 15px 26px;
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
  font-family: 'Georgia';
  font-size: 28px;
}
nav {
  font-family: 'Arial';
  font-size: 12px;
  color: #777777;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav a {
  text-decoration: none;
  font-family: 'Arial';
  font-size: 12px;
  color: #777777;
}
#section-left {
  float: left;
  background-color: #ffffff;
  overflow: auto;
  width: 650px;
  margin-left: 50px; 
  margin-top: 20px;
  border: 1px solid #dddddd;
  padding: 25px
}
h2 {
  font-family: "Arial";
  text-align: left;
  font-size: 26px;
  border-style: none none solid none;
  padding-bottom:15px;
  border-width: 2px;
  border-bottom-color: #cccccc;
  color: #4aaaa5;
  background-color: #ffffff;
}
p {
  text-align: left;
  margin-top: 15px;
  font-family: 'Arial';
  font-size: 12px;
  color: #777777;
}

#section-right {
  float: left;
  background-color: #ffffff;
  width: 270px;
  height: 150px;
  margin-left: 80px;
  margin-top: 10px;
  padding: 25px;
}

h3 {
  font-family: "Georgia";
  border-style: none none solid none;
  border-bottom-color: #cccccc;
  color: #4aaaa5;
  font-size: 18px;
}
div {
  text-align: center;
}
footer {
  background-color: #666666;
  padding: 20px;
  clear: both;
  font-family: "Arial";
  font-size: 10px;
  color: #ffffff;
  border-style: solid none none none;
  border-top-color: #4aaaa5;
  border-width: 8px;
}